@font-face {
  font-family: "DIN Alternative";
  src: local("fonts/DINAlternative-Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap; 
}

/* global styling*/
html {
  font-family: roboto, Helvetica, sans-serif;
  margin: 0rem 0rem;
  background-color: #2C2B30;
}

/* Banner image*/
.header {
  width: 100%;
  background-size: cover;
  max-width: 150rem;
  margin-left: auto;
  margin-right: auto;
}

.header img {
  width: 100%;
}

/*the navbar styling goes here*/
/* nav bar */
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0.5rem;
  overflow: hidden;
  background: #D6D6D6;
  text-align: center;
}
nav {
  position: sticky;
  top: 0;
}

/* how the list of pages sits */
nav ul li {
  display: inline-block;
  font-size: 1rem;
  font-family: roboto mono;
}

/* the nav text */
nav li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav li:hover {
  background: linear-gradient(to bottom, #f58f5c, rgba(0, 0, 0, 0));
}

nav #active {
  background: #f58f5c;
}


/* Styling for the main section*/
/* This is the line between the main section and footer */
main {
  border-bottom: 3px solid;
  color: #a6a6a6;
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  color: #f2c4ce;
  font-family: 'Bungee';
  font-size: 60px;
  text-align: center;
  margin-bottom: 1rem;
  text-shadow: 2px 2px 2px #000000;;
}

h2 {
  color: white;
  font-size: 30px;
  text-align: center;
}

p {
  color: white;
  font-size: 14px;
  text-align: center;
}

/* Styling for the image container and the items inside it */
.container {
  display: flex;
  flex-wrap: wrap;
  align-items: top;
  justify-content: center;
}

.container-wide {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 3fr;
}

/*Items for all the screenshots and pictures of your stuff*/

.item {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 20%;
  min-width: 12rem;
  margin: 0.5rem;
  display: grid;
  grid-template-rows: 3.5fr 1fr;
  row-gap: 0.5rem;
}

.item-info {
  padding: 0rem;
  text-align: center;
  text-justify: center;
}

.item img {
  max-width: 100%;
}

.item-wide {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 100%;
  min-width: 8rem;
  margin: 0.5rem;
  display: grid;
  align-items: center;
  grid-template-columns: 0.5fr 1fr;
  column-gap: 5px;
  background-color: #434148;
}

.item-wide-text {
  padding: 0.1rem;
  margin-left: 1rem;
  text-align: center;
}

.item-wide img {
  width: 100%;
  margin: 1rem;
  max-width: 40rem;
}